  <div *ngIf="country" class="container">
    <h1>{{ country.country }}</h1>

    <div class="stats">
      <div class="stat-box">
        <p>Number of entries <br><strong>{{ country.participations.length }}</strong></p>
      </div>
      <div class="stat-box">
        <p>Total number medals <br><strong>{{ getTotalMedals(country.participations) }}</strong></p>
      </div>
      <div class="stat-box">
        <p>Total number of athletes <br><strong>{{ getTotalAthletes(country.participations) }}</strong></p>
      </div>
    </div>

    <div class="line-chart">
      <app-line [data]="country.participations"></app-line>
    </div>

  </div>
  <button class="buttonBack" (click)="goBack()">Retour</button>
