::ng-deep ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip  {
   
    .tooltip-caret.position-top {
        border-top-color: #04838f;
      }
    background-color: #04838f;
    color: rgb(255, 255, 255);
  }
  