<div class="container">
  <h1>Medals per country</h1>

  <div *ngIf="loading" class="loading-message">
    Chargement des données...
  </div>

  <div *ngIf="noData && !loading && !error" class="message">
    <h2>Aucune donnée disponible</h2>
    <p>Il semble qu'il n'y ait aucune donnée à afficher pour le moment.</p>
  </div>

  

  <div *ngIf="!loading && !noData && !error">
    <div class="stats">
      <div class="stat-box">
        <p>Number of JOs: <br><strong>{{ numberOfJOs }}</strong></p>
      </div>
      <div class="stat-box">
        <p>Number of Countries: <br><strong>{{ numberOfCountries }}</strong></p>
      </div>
    </div>

    <app-pie></app-pie>
  </div>
</div>
